<br>
<br>
<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <p><h4> Purchase details <h4></p>
        </ul>
        <div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search">
                <div class="input-group">
                  <p>Purchase Id: <%= @purchase.id %></p>
                </div>
            </form>
        </div>
    </div>
</nav>

<p id="notice"><%= notice %></p>

<p>
  <strong>Customer name:</strong>
  <%= @purchase.customer_name %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @purchase.product_name %>
</p>

<p>
  <strong>Product model:</strong>
  <%= @purchase.product_model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @purchase.price %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @purchase.purchase_date %>
</p>

<p>
  <strong>Maintnance date:</strong>
  <%= @purchase.maintnance_date %>
</p>

<button type="button" class="btn btn-lg-primary"><%= link_to 'Edit', edit_purchase_path(@purchase) %></button> |
<button type="button" class="btn btn-lg-primary"><%= link_to 'Back', purchases_path %></button>
