<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='col-sm-6'>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2">Customer name:</span>
        <%= f.text_field :customer_name, class: "form-control" %>
    </div><br>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">Username:</span>
          <%= f.text_field :username, class: "form-control" %>
      </div><br>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">Password:</span>
          <%= f.text_field :password, class: "form-control" %>
        </div><br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Registration date:</span>
          <%= f.date_select :registration_date, class: "form-control" %>
        </div><br>
      </div>
        <div class='col-sm-6'>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Email:</span>
            <%= f.text_field :email, class: "form-control" %>
        </div><br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Phone number:</span>
            <%= f.text_field :phone_number, class: "form-control" %>
        </div><br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Home address:</span>
            <%= f.text_field :address, class: "form-control" %>
          </div><br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">Gender:</span>
            <%= f.select(:gender, options_for_select([ ["Male"], ["Female"]])) %>
        </div><br>
      </div><br>
        <div class='col-sm-6'>
        <div class="actions">
          <%= f.submit class: "btn btn-primary" %>
          <button type="button" class="btn btn-lg-primary"><%= link_to 'Cancel', customers_path %></button>
        </div>
      </div>
  <% end %>
