<%= form_for([@appointment, @appointment.comments.build]) do |f| %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.select(:status, options_for_select([ ["No Status"], ["Pending"], ["Done"] ])) %>
  </div>
  <div class="field">
    <%= f.label "Write a note if status is Pending" %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
