<p>Hi, <%= @appointment_user.name %>
<h2><p>Appointment has been created </p></h2>
<p>Customer name: <%= @customer_name %> </p>
<p>Technician name: <%= @technician_name %> </p>
<p>Phone number: <%= @phone_number %> </p>
<p>Appointmen type: <%= @appointment_type %> </p>
<p>Home Address(location): <%= @address %> </p>
<p>Product model: <%= @product_model %> </p>
<p>Appointment date: <%= @appointment_date %> </p>
<p>Note: <%= @appointment_note %> </p>
