<p id="notice"><%= notice %></p>

<%= render 'searchbar/searchCustomers' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Customer name</th>
      <th>Username</th>
      <th>Password</th>
      <th>Registration date</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Address</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.customer_name %></td>
        <td><%= customer.username %></td>
        <td><%= customer.password %></td>
        <td><%= customer.registration_date %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone_number %></td>
        <td><%= customer.address %></td>
        <td><%= customer.gender %></td>
        <td><button type="button" class="btn btn-lg-primary"><%= link_to 'View', customer %></buton></td>
        <% if can? :update, @customer %>
        <td><button type="button" class="btn btn-lg-primary"><%= link_to 'Edit', edit_customer_path(customer) %></button></td>
        <%end%>
        <% if can? :destroy, @customer %>
        <td><button type="button" class="btn btn-lg-primary"><%= button_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, @customer %>
<button type="button" class="btn btn-lg btn-default"><%= link_to 'New Customer', new_customer_path %></button>
<%end%>
