<br><br>
<p id="notice"><%= notice %></p>
<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <p><h4> Customer details <h4></p>
    </ul>
    <div class="col-sm-3 col-md-3 pull-right">
      <form class="navbar-form" role="search">
        <div class="input-group">
          <p>Customer Id: <%= @customer.id %></p>
        </div>
      </form>
    </div>
  </div>
</nav>

  <p>
    <strong>Customer name:</strong>
    <%= @customer.customer_name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= @customer.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= @customer.password %>
  </p>

  <p>
    <strong>Registration date:</strong>
    <%= @customer.registration_date %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @customer.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= @customer.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @customer.address %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @customer.gender %>
  </p>

<% if can? :update, @customer %>
  <%= link_to 'Edit', edit_customer_path(@customer), class: "btn btn-sm btn-primary" %> |
<%end%>
  <%= link_to 'Back', customers_path, class: "btn btn-sm btn-primary" %>



  <p id="notice"><%= notice %></p>
  <h2> List of purchases from this customer </h2>
  <%= form_for Purchase.new do |f| %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Customer name</th>
        <th>Product name</th>
        <th>Product model</th>
        <th>Price</th>
        <th>Purchase date</th>
        <th>Maintnance date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @purchases.each do |purchase| %>
      <% if purchase.customer_name == @customer.customer_name %>
        <tr>
          <td><%= purchase.id %></td>
          <td><%= purchase.customer_name %></td>
          <td><%= purchase.product_name %></td>
          <td><%= purchase.product_model %></td>
          <td><%= purchase.price %></td>
          <td><%= purchase.purchase_date %></td>
          <td><%= purchase.maintnance_date %></td>
          <% if can? :read, @purchases %>
            <td><%= link_to 'Show', purchase, class: "btn btn-sm btn-success" %></td>
          <%end%>
          <% if can? :update, @purchase %>
            <td><%= link_to 'Edit', edit_purchase_path(purchase), class: "btn btn-sm btn-info" %></td>
          <%end%>
          <% if can? :destroy, @purchase %>
            <td><%= button_to 'Delete', purchase, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
          <%end%>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <br>
  <% if can? :create, @purchase %>
    <%= link_to 'New Purchase', new_purchase_path, class: "btn btn-lg btn-primary" %>
  <%end%>
  <%end%>
