<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div calss='row'>
    <div class='col-sm-6'>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">Customer Name:</span>
      <%= f.text_field :customer_name, class: "form-control" %>
      </div><br>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">Technician Name:</span>
      <%= f.text_field :technician_name, class: "form-control" %>
    </div><br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2">Phone Number:</span>
      <%= f.text_field :phone_number, class: "form-control" %>
    </div><br>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">Appointment Type:</span>
        <%= f.text_field :appointment_type, class: "form-control" %>
    </div><br>
      </div>
      <div class='col-sm-6'>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2">Address:</span>
      <%= f.text_field :address, class: "form-control" %>
    </div><br>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">Product Model:</span>
        <%= f.text_field :product_model, class: "form-control" %>
    </div><br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2">Appointment note:</span>
      <%= f.text_area :appointment_note, class: "form-control" %>
    </div><br>
    <div class="input-group">
     <span class="input-group-addon" id="basic-addon2">Appointment date:</span>
      <%= f.date_select :appointment_date, class: "form-control" %>
    </div><br>
          <%= f.submit class: "btn btn-primary" %>
          <button type="button" class="btn btn-lg-primary"><%= link_to 'Cancel', appointments_path %></button>
    </div>
</div>
<% end %>
