<!DOCTYPE html>
<html>
<head>
  <title>Airdb</title>
  <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <br><br><br>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <img src="http://i.imgur.com/ZPI7Osx.jpg" alt="airdb" style="width:180px;height:80px;">

</head>
<br>
<body class="container">

  <%if user_signed_in? && user_role="Director"%>

                <div class="container">
                  <div class="container">
                      <nav>
                        <ul class="nav nav-pills pull-right">
                          <p> You are signed in as: <%= current_user.user_role%> <%= current_user.name %>
                            <%= button_to "Sign Out", destroy_user_session_path, method: :delete %></p>
                        </ul>
                      </nav>
                  </div>

                  <%= render 'layouts/administrator' %>
              <%end%>


            <%= yield %>

</body>
</html>
