<button type="button" class="btn btn-lg btn-default"><%= link_to "Home",root_path %></button>
<button type="button" class="btn btn-lg btn-default"><%= link_to "Products",products_path %></button>
<button type="button" class="btn btn-lg btn-default"><%= link_to "Users",users_path %></button>
<button type="button" class="btn btn-lg btn-default"><%= link_to "Customers",customers_path %></button>
<button type="button" class="btn btn-lg btn-default"><%= link_to "Appointments",appointments_path %></button>
<button type="button" class="btn btn-lg btn-default"><%= link_to "Purchases",purchases_path %></button>
