
<ul class="nav nav-pills nav-justified">
  <li><%= link_to "Home",root_path %></li>
  <li><%= link_to "Products",products_path %></li>
  <li><%= link_to "Users",users_path %></li>
  <li><%= link_to "Customers",customers_path %></li>
  <li><%= link_to "Appointments",appointments_path %></li>
  <li><%= link_to "Purchases",purchases_path %></li>
</ul>
