<br><br>
<p id="notice"><%= notice %></p>

<div class='col-sm-3'>
  <p>
    <%= image_tag @product.asset.thumb('600x600').url, class: 'img-thumbnail' if @product.asset_stored? %>
    <p align="center" ><button type="button" class="btn btn-lg-primary"><%= link_to 'Edit', edit_product_path(@product) %></button> |
      <button type="button" class="btn btn-lg-primary"><%= link_to 'Back', products_path %> </button></p>
  </p>
</div>


<div calss='row'>
    <div class='col-sm-5'>
      <p>
        <strong>Product name:</strong>
        <%= @product.product_name %>
      </p>
      <p>
        <strong>Product model:</strong>
        <%= @product.product_model %>
      </p>
      <p>
        <strong>Serial number:</strong>
        <%= @product.serial_number %>
      </p>
      <p>
        <strong>Price: $</strong>
        <%= @product.price %>
      </p>
      <p>
        <strong>Stock:</strong>
        <%= @product.stock %>
      </p>
      <p>
        <strong>Description:</strong></br>
        <%= @product.description %>
      </p>
    </div>
</div>
